#container{
    padding: 0;
}
.form-inline {
    width: 80%;
}
#container .form-control {
    width: 90%;
    height: 38px;
    border:1px solid white;
    border-radius: 0;
    background-clip:border-box;
}
#container .navbar-brand {
    width: 18%;
    color: white;
    font-size: 35px;
    padding: 0;
}
.navbar {
    background-color: rgba(28, 28, 245, 0.829);
}
.fa-search {
    align-self: center;
    font-size: 20px;
}
#days .nav-link.active img {
    width: 60px;
    height: 60px;
}
img {
    width: 50px;
    height: 50px;
}
.dydis {
    width: 35px;
    height: 35px;
}
span{
    display: block;
}
#days {
    width: 100%;
    min-height: 220px;
    padding: 0 1rem;
    margin-top: 68px;
    background-image: url("img/clouds.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
}
#oruList {
    padding: 0 1rem;
}
.fa-long-arrow-alt-up {
    margin-left: 10px;
}
.miestas {
    font-size: 20px;
    color: white;
    width: 100%;
    text-transform: capitalize;
}
#days .nav-link.active {
    width: 280px;
    min-height: 150px;
    padding: 10px 15px;
}
#days .nav-link {
    width: 105px;
    height: 110px;
    align-self: flex-end;
    background-color: white;
    border: 1px solid grey;
    display: flex;
    flex-wrap: wrap;
    padding: 2px 3px;
    color: black;
}
.dien {
    width: 100%;
}
.dienTemp {
    margin-left: 25px;
    width: 13%;  
}
.condition {
    display: none;
    text-transform: capitalize;
}
#days .nav-link.active .condition{
    display: block;
    padding-left: 5px;
    width: 120px;
    border-left: 1px solid black;
}
#nav-tab {
    align-self: flex-end;
}
#search {
    padding: 9px;
    background-color: white;
    display: flex;
    cursor:pointer;
}
@media (max-width: 991.98px) { 
    #days .nav-link.active {
        width: 196px;
        min-height: 130px;
        padding: 10px 3px;
    }
    #days .nav-link.active img {
        width: 50px;
        height: 50px;
    }
    #days .nav-link.active .condition {
        width: 95px;
    }
    img{
        width: 35px;
        height: 35px;
    }
    #days .nav-link {
        width: 90px;
        height: 90px;
    }
    .dienTemp {
        margin-left: 10px;
    }
    .navbar .form-inline {
        width: 75%;
    }
    #container .navbar-brand {
        width: 21%;        
    }
}
@media (max-width: 785.98px) { 
    .navbar .form-inline {
        width: 100%;
        flex-flow: row nowrap;
    }
    #container .form-control {
        width: 100%;
    }
    #container .navbar-brand {
        width: 30%;        
    }
    .slepti{
        display: none;
    }
    #oruList .table td, #oruList .table th {
        padding: .2rem .2rem;
    }
    #oruList {
        padding: 0;
    }
    #container .navbar-brand {
        width: 100%;
        text-align: center;
    }
    .dydis {
        width: 25px;
        height: 25px;
    }
    #days .nav-link.active .condition {
        display: none;
    }
    #days .nav-link.active {
        width: 90px;
        min-height: 90px;
        padding: 2px 3px;
        background-color: rgba(236, 221, 221, 0.932);
        border: 1px solid red;
    }
    #nav-tab {
        width: 100%;
        justify-content: center;
    }
    #days {
        text-align: center;
        margin-top: 106px;
    }
    #days .nav-link.active img {
        width: 45px;
        height: 45px;
    }
}
